.navbar {
  background-color: rgb(14, 16, 16);
  border-bottom: double 10px rgba(255, 235, 205, 0.18);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px;
  z-index: 2;
}

.normalmenu {
  display: flex;
  gap: 50px;
  margin-left: -10px;
  margin-top: 10px;
}

.normalmenu li {
  list-style: none;
}

.navbar li a {
  text-decoration: none;
  color: #d92467;
  display: block;
  padding: 6px;
  width: fit-content;
  background-color: rgba(136, 136, 72, 0.128);
  border-radius: 10px;
  border-bottom: 2px solid rgba(255, 235, 205, 0.18);
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.navbar li a:hover {
  background-color: rgba(138, 38, 168, 0.322);
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
  filter: drop-shadow(0 0 0.55rem #bd487b2b);
}

.port {
  align-self: flex-start;
  margin-top: 12px;
  padding: 2px;
  border-radius: 10px;
  border-bottom: 2px solid rgba(255, 235, 205, 0.18);
  border-right: 1px solid rgba(255, 235, 205, 0.18);
}

.port:hover {
  background-color: rgba(138, 38, 168, 0.322);
  filter: drop-shadow(0 0 0.55rem #bd487b2b);
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
  border-bottom: 2px solid rgba(205, 164, 33, 0.361);
  border-right: 1px solid rgba(72, 48, 2, 0.361);
}

.port > a {
  padding: 3px;
  text-decoration: none;
  color: #d92467;
  font-family: "Outfit", sans-serif;
  font-size: 30px;
  font-weight: 600;
}

/* hamburger menu */
@media (min-width: 904px) {
  .navbar i {
    display: none;
  }
}

@media (max-width: 903px) {
  .normalmenu li {
    display: none;
  }

  .navbar i {
    display: block;
    color: rgb(180, 158, 179);
    position: absolute;
    top: 30px;
    left: 20px;
    cursor: pointer;
  }
  .hamburgermenu {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-bottom: 30px;
    margin-right: auto;
    list-style: none;
    gap: 1.2rem;
    transition: all 0.5s ease-in-out;
  }
  .hamburgermenu li a {
    text-decoration: none;
    display: block;
    padding: 6px;
    width: fit-content;
    background-color: rgba(136, 136, 72, 0.128);
    border-radius: 10px;
    font-family: "Outfit", sans-serif;
    font-size: 30px;
  }
}

#hmenu {
  position: absolute;
  top: 44px;
  left: 16px;
}
